* {
  margin: 0;
  padding: 0;
  }
body {
  background: rgb(4,59,10);
  background: linear-gradient(90deg, rgba(4,59,10,1) 0%, rgba(9,121,65,0.835171568627451) 53%, rgba(21,139,38,1) 73%);
}

img {
  pointer-events: none;
}

.pickGame {
  position: relative;
  background-color: #00000069;
  height: 150px;
  text-align: center;
  color: #fff;
}
.pickGame h1 {
  padding: 25px 0px 10px;
}
.number {
  left: 50%;
  top: 55px;
  font-size: 30px;
  position: absolute;
  transform: translateX(-50%);
}


.cards-container {
  position: relative;
  margin: auto;
	width: max-content;
  min-height: 360px;
	display: grid;
	grid-template-columns: repeat(6, 100px);
	gap: 10px;
	box-sizing: border-box;
  background-color: #ffb00036;
  padding: 25px;
}

.card-container {
    width: 100px;
    height: 150px;
    transition: transform 1s;
    perspective: 800px;
  }
  
  .card-container:hover > .card {
    cursor: pointer;
  }
  
  .card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.front {
    transform: rotateY(180deg);
  }
  
.back {
  background-image: url("img/card-back.jpg"); /* The image used */
  }
.front img {
  border-radius: 1rem;
}

.numOfCards {
  text-align: center;
}

.btn {
  background: #f5b800;
  background-image: -webkit-linear-gradient(top, #f5b800, #f5b803);
  background-image: -moz-linear-gradient(top, #f5b800, #f5b803);
  background-image: -ms-linear-gradient(top, #f5b800, #f5b803);
  background-image: -o-linear-gradient(top, #f5b800, #f5b803);
  background-image: linear-gradient(to bottom, #f5b800, #f5b803);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  -webkit-box-shadow: 0px 1px 23px #c7c7c7;
  -moz-box-shadow: 0px 1px 23px #c7c7c7;
  box-shadow: 0px 1px 23px #c7c7c7;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f2dd9e;
  background-image: -webkit-linear-gradient(top, #f2dd9e, #e0c789);
  background-image: -moz-linear-gradient(top, #f2dd9e, #e0c789);
  background-image: -ms-linear-gradient(top, #f2dd9e, #e0c789);
  background-image: -o-linear-gradient(top, #f2dd9e, #e0c789);
  background-image: linear-gradient(to bottom, #f2dd9e, #e0c789);
  text-decoration: none;
}

.game-container {
  display: flex;
  margin-top: 30px;
}

.players-container {
  display: flex;
  justify-content: space-around;
}

.player {
  height:300px;
  font-size: 24px;
  background-color: #bfbf0599;
  text-align: center;
  color: #363a36;
  width: 30%;
  border-radius: 5px;
  padding: 30px 0px;
  max-height: 300px;
  overflow: hidden;
  transition: background-color 1.5s;
}
.player h1 {
  margin: 20px;
}

.player img {
  width: 30%;
  display: inline-block;
  position: relative;
}

.player span {
  font-size: 28px;
  font-weight: 600;
}

.active {
  transition: all 1.5s;
  background-color: #e5e505;
}

.player-1 img {
  animation-name: movePlayer1Out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.player-1.active img {
  opacity: 1;
  animation-name: movePlayer1in;
  animation-duration: 3s;
}
@keyframes movePlayer1in {
  0% {right: 70%; transform: rotate(0deg);}
  45% {transform: rotate(-15deg);}
  100% {right: 0%; transform: rotate(0deg);}
}

@keyframes movePlayer1Out {
  0% {right: 0%; transform: rotate(0deg);}
  100% {right: -70%; transform: rotate(-15deg);}
}
.player-2 img {
  animation-name: movePlayer2Out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.player-2.active img {
  opacity: 1;
  animation-name: movePlayer2In;
  animation-duration: 3s;
}

@keyframes movePlayer2In {
  0% {right: -70%; transform: rotate(0deg);}
  45% {transform: rotate(20deg);}
  100% {right: 0%; transform: rotate(0deg);}
}
@keyframes movePlayer2Out {
  0% {right: 0%;   transform: rotate(20deg);}
  100% {right: 70%;   transform: rotate(0deg);}
}

.winnerText {
  background-color: #10cf1073;
  font-size: 35px;
  position: relative;
  top: 47px;
}
.playAgain {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  transition: transform 4s;
}


